<template>
  <div>
    <h1 v-html="$t('irc.title')"></h1>
    <p v-html="$t('irc.matrix')"></p>
    <p v-html="$t('irc.web')"></p>
    <iframe
      src="https://kiwiirc.com/client/irc.freenode.net/#framasoft"
      style="border:0; width:100%; height:450px;">
    </iframe>

    <p>
      <span v-html="$t('irc.client')"></span>
      (<a href="https://addons.mozilla.org/fr/firefox/addon/chatzilla/">Chatzilla</a>,
      <a href="https://framalibre.org/content/pidgin">Pidgin</a>,
      <a href="https://framalibre.org/content/thunderbird">Thunderbird</a>,
      <a href="https://framalibre.org/content/hexchat">HexChat</a>,
      <a href="https://framalibre.org/tags/irc">etc</a>)
    </p>
    <ul class="list-unstyled alert alert-info col-md-4 col-md-offset-4">
    <li><span v-html="$t('irc.server')"></span> <strong>irc.freenode.net</strong></li>
    <li><span v-html="$t('irc.port')"></span> <strong>6667</strong> (<span v-html="$t('ircbyDefault')"></span>)</li>
    <li><span v-html="$t('irc.channel')"></span> <strong>#framasoft</strong></li>
    </ul>
  </div>
</template>
