<style type="text/css">
    code{white-space: pre;}
    body {
    font-family: sans-serif;
    margin: 10%;
    background: #ffffff;
    color: #3D3C3A;
    }

    #entete {
    font-size:150%;
    font-weight:bold;
    }

    .violet {
    color:#6A5687;
    }

    .orange {
    color:#EB7E41;
    }

    .rouge {
    color:#CC2D18;
    }

    .vert {
    color:#8e9c48;
    }

    .bleu {
    color:#0C5B7A;
    }

    a:link {
    color: #0C5B7A;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    }

    a:visited {
    color:#EB7E41;
    text-decoration:none;
    border-bottom: 1px solid #ccc;
    }

    a:hover {
    color:#EB7E41;
    text-decoration:none;
    }

    a:hover, a:focus {
    border-bottom: 2px solid #ccc;
    }

    #TOC {
    width: 50%;
    background: #EBF4FA;
    padding:2%;
    }
    @media (max-width: 768px) {
        #TOC {
            width: 100%;
        }
    }

    #TOC a {
      border:none;
    }

    h1 {
    font-size:150%;
    }

    h2 {
    font-size:110%;
    }

    .foot {
    font-size:75%;
    color:#3D3C3A;
    }

    p {
    text-indent:2%;
    }

    blockquote {
    border-left: 10px #EBF4FA solid;
    padding-left: 2%;
    color:#0C5B7A;
    }

    .footviolet {
    font-size:75%;
    font-weight:bold;
    color:#6A5687;
    }

    .footorange {
    font-size:75%;
    font-weight:bold;
    color:#EB7E41;
    }

</style>
